{% extends 'journal/base.html' %}

{% block content %}
{% if resource %}
<h1>Edit Resource</h1>
{% else %}
<h1>Create New Resource</h1>
{% endif %}

<form method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Save">
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}